body{
  background:#f00 url("bg.png") repeat;
  font-family: Arial, Helvetica, sans-serif;
}
.search {
  width: 100%;
  text-align: center;
  margin-top: 75px;
}
.search input[type=text]{
  padding:4px 13px 4px 13px;
  border:1px solid #888e;
  background-color:#fff;
  margin:3px; 
}
.search input[type=button]{
  padding:4px 17px;
  border:1px solid #8888;
  background-color:#fff;
}
.rounded { 
    border-radius:20px;
}
