body{
  background:#f00 url("img/bg.png") repeat;
  font-family: Arial, Helvetica, sans-serif;
}

/*Search bar and button visual aspects*/

.search {
  width: 100%;
  text-align: center;
  margin-top: 75px;
}
.search input[type=text]{
  width:50%;
  padding:4px 30px 4px 13px;
  border:1px solid #8885;
  border-radius:20px;
  background-color:#fff;
  margin:10px 0px;
}
.search input[type=button]{
  padding:4px 20px 4px 20px;
  border:1px solid #8885;
  border-radius:20px;
  background-position:center;
  background-color:#bbb;
  background-image:url("img/s_b.png") no-repeat;
  margin:10px -30px;
}
.search input[type=button]:hover{
  padding:10px 20px 10px 20px;
  margin:0px -30px;
}
.search input[type=button]:active{
  padding:8px 18px 8px 18px;
  background-color:#f55;
  margin:0px -28px;
}